body {
    font-family: Arial, sans-serif;
    display: flex;
    height: 100vh;
    margin: 0;
    background: linear-gradient(45deg, rgba(34, 193, 195, 0.8), rgba(253, 187, 45, 0.8));
}

.sidebar {
    background: rgba(255, 255, 255, 0.5);
    padding: 20px;
    min-width: 200px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    height: 609px;
}

.sidebar h2 {
    font-size: 1.5em;
    color: #333;
    margin-bottom: 20px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar li {
    margin-bottom: 10px;
}

.sidebar a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
    font-size: 1.2em;
}

.sidebar a:hover {
    text-decoration: underline;
}

.content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 20px;
    color: #333;
    align-items: center;
    overflow-y: auto;
}

.box {
    padding: 20px;
    width: 90%;
    border-radius: 15px;
    background-color: white;
    backdrop-filter: blur(10px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.box i {
    cursor: pointer;
}

.box label {
    font-weight: bold;
}

.box select {
    width: 94%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* DIVIDER */
.divider {
    width: 100%;
    height: 1px;
    background-color: gray;
    margin-bottom: 10px;
}

/* CSS for the table */
.table-container {
    width: 100%;
    overflow: auto;
}

.table-container::-webkit-scrollbar {
    display: none;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

/* CSS for action icons */
.action-icon {
    margin: 0 5px;
    text-decoration: none;
    color: #007bff;
    /* Change color as needed */
}

.action-icon:hover {
    color: #0056b3;
    /* Change hover color as needed */
}

/* Modal styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
    max-width: 600px;
    text-align: center;
    border-radius: 10px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    font-weight: bold;
}

form select {
    width: 94%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Additional styles for the form elements inside the modal */
input[type="text"],
input[type="number"] {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

textarea {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 150px;
    /* Set a desired height */
}

input[type="file"] {
    border: 2px solid gray;
    color: gray;
    background-color: white;
    padding: 8px 20px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
    width: 87%;
}

.btn-div {
    margin-top: 10px;
}

.btn {
    border: 2px solid gray;
    color: gray;
    background-color: white;
    padding: 8px 20px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
}

.upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

.modal-btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.modal-btn:hover {
    background-color: #0056b3;
}
